# Ignore database files
*.sqlite3

# Ignore static files collected by Django
/staticfiles/

# Ignore media files uploaded by users
/media/

# Ignore environment-specific settings
.env

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore local development settings
/local_settings.py

# Ignore log files
*.log

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore package manager directories
/node_modules/
/yarn-error.log
